Write a console program for Atm machine.
Atm allows you two actions:
Topup:

Topup 50
-> Your balance now is 60 euros

Withdraw: Gives your amount in 50, 20, 10, 5 notes; 
Withdraw 30
-> You have received 20 and 10 

Withdraw 75
-> You have received 50, 20, 5

Withdraw 100
-> You have received 50, 50

Patikrinam ar suma => 50
mes ja padalinam is 50 ir gaunam kiek 50 banknotu
Kazkur issaugom, kad turim 2 po 50 ir atemam ta suma ir musu balanco
Paupdetinam musu suma kiek pinigu jau ismem
Patikrinam ar ta suma => 20

Patikrinam ar ta suma => 10
mes ja padalinam is 10 ir gaunam kiek 10 banknotu
Kazkur issaugom, kad turim 1 po 10 ir atemam ta suma ir musu balanco
Paupdetinam musu suma kiek pinigu jau ismem
Patikrinam ar ta suma >= 5