@{
    ViewData["Title"] = "Home Page";
}

<h2>What game do you wanna play?</h2>

@using (Html.BeginForm("RockPaperScissors", "Game", FormMethod.Get))
{
    <div class="container-full" style="background-color:white">
        <div class="container">
            <input class="btn btn-primary" style="margin-top:10px" type="submit" value="Rock Paper Scissors" />
        </div>
    </div>
}


@using (Html.BeginForm("GuessANumber", "Game", FormMethod.Get))
{
    <div class="container-full" style="background-color:white">
        <div class="container">
            <input class="btn btn-primary" style="margin-top:10px" type="submit" value="Guess A Number" />
        </div>
    </div>
}

@using (Html.BeginForm("GuessAWord", "Game", FormMethod.Get))
{
    <div class="container-full" style="background-color:white">
        <div class="container">
            <input class="btn btn-primary" style="margin-top:10px" type="submit" value="Guess A Word" />
        </div>
    </div>
}

