@model ToDoListModel

<h4>Enter The Task</h4>


    @using (Html.BeginForm("SubmitEntry", "ToDoList", FormMethod.Post))
    {
        <div class="container-full" style="background-color: white; padding: 20px">
            <div class="container">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name)
                @Html.LabelFor(x => x.Description)
                @Html.TextBoxFor(x => x.Description)
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </div>
    }
