@model List<ToDoListModel>

<h2>My To Do List:</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    @foreach (ToDoListModel toDoListModel in @Model)
    {
<tr>
    <td>@toDoListModel.Name</td>
    <td>@toDoListModel.Description</td>
    <td><input class="btn btn-danger" type="submit" value="Delete" /> <input class="btn btn-primary" type="submit" value="Done" /></td>
</tr>
    }
</table>


